<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-menu-toggle>

  </ion-menu-toggle>

  <h2 class="ion-margin-start">Allison Duffey</h2>
  <ion-avatar class="ion-margin-start">
    <img src="https://i.pravatar.cc/400">
  </ion-avatar>

  <h3 style="padding-top: 5%;" class="ion-margin-start">Defeated List:</h3>
  <ion-item>
  <ion-avatar>
    <img src="https://i.pravatar.cc/300">
  </ion-avatar>
  <ion-label style="padding-left: 5%">Slayer 123</ion-label>
</ion-item>
<ion-item>
  <ion-avatar>
    <img src="https://i.pravatar.cc/300">
  </ion-avatar>
  <ion-label style="padding-left: 5%">Slow-Dinosaur</ion-label>
</ion-item>
<ion-item>
  <ion-avatar>
    <img src="https://i.pravatar.cc/300">
  </ion-avatar>
  <ion-label style="padding-left: 5%">Gruul Main</ion-label>
</ion-item>
<ion-item>
  <ion-avatar>
    <img src="https://i.pravatar.cc/300">
  </ion-avatar>
  <ion-label style="padding-left: 5%">ElvesAreLife</ion-label>
</ion-item>
<ion-item>
  <ion-avatar>
    <img src="https://i.pravatar.cc/300">
  </ion-avatar>
  <ion-label style="padding-left: 5%">MillYaFast</ion-label>
</ion-item>
</ion-content>
