<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-menu-toggle>

  </ion-menu-toggle>
  <ion-list>
    <ion-item>
      <ion-label>Made by: Allison Duffey</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>2022</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Property of Calamity Nexus</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
